In [254]:
import pandas as pd
import numpy as np
import math

In [255]:
df = pd.read_csv('train.csv')
print(df.shape)
df.head(2)

(40213, 27)

/home/sammynerd/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10,11,14,16,17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,comp_name,website,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,...,last_funding_utc,successful_investment,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,0,Nanotecture,http://www.nanotecture.co.uk,closed,Nanotechnology,NaN,GBR,M4,London,Southampton,...,12907,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Sybari,http://www.sybari.com,acquired,Email|Security|Software,1995-01-01,USA,NY,Long Island,East Northport,...,11411,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
df_test = pd.read_csv('test.csv')
print(df_test.shape)
df_test.head(2)

(4469, 19)

,ID,comp_name,website,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,first_funding_date,last_funding_date,num_investors,funding_duration,first_funding_utc,last_funding_utc,Unnamed: 18
0,0,MDLIVE,http://mdlive.com,operating,Health Care,2009-01-01,USA,FL,Ft. Lauderdale,Fort Lauderdale,73600000,2,2014-01-22,2015-06-24,5,518,16092,16610,NaN
1,1,APX Labs,http://apx-labs.com,operating,Software,2010-01-01,USA,VA,"Washington, D.C.",Herndon,28612936,3,2014-04-02,2015-11-18,7,595,16162,16757,NaN

In [257]:
#df.info()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4469 entries, 0 to 4468
Data columns (total 19 columns):
ID                    4469 non-null int64
comp_name             4468 non-null object
website               4185 non-null object
op_status             4469 non-null object
domain                4256 non-null object
founded_on            3279 non-null object
hq_country_code       4001 non-null object
hq_state_code         3893 non-null object
hq_region             3914 non-null object
hq_city               3914 non-null object
total_funding_usd     3619 non-null object
funding_rounds        4469 non-null int64
first_funding_date    4469 non-null object
last_funding_date     4469 non-null object
num_investors         4469 non-null object
funding_duration      4469 non-null int64
first_funding_utc     4469 non-null int64
last_funding_utc      4469 non-null int64
Unnamed: 18           1 non-null float64
dtypes: float64(1), int64(5), object(13)
memory usage: 663.4+ KB

In [258]:
del df['comp_name'],df['website']
del df_test['comp_name'],df_test['website']

In [259]:
#for checking whether these unnamed columns majorly consists of NaN or not
cnt=int(0)
s=int(0)
for i in df['Unnamed: 19']:
    if(isinstance(i, str)):
        s= s+1
    elif(math.isnan(i)):
        cnt = cnt+1
cnt, s

(40210, 0)

In [260]:
df.drop(df.columns[[17,18,19,20,21,22,23,24]], axis=1, inplace=True)
del df_test['Unnamed: 18']
#del df['Unnamed: 19'], df['Unnamed: 20'], df['Unnamed: 21'], df['Unnamed: 22'], df['Unnamed: 23'], df['Unnamed: 24'], df['Unnamed: 25'], df['Unnamed: 26']

In [261]:
print(df.shape, df_test.shape)
df.head(2)

(40213, 17) (4469, 16)

,ID,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,first_funding_date,last_funding_date,num_investors,funding_duration,first_funding_utc,last_funding_utc,successful_investment
0,0,closed,Nanotechnology,NaN,GBR,M4,London,Southampton,6820000,1,2005-05-04,2005-05-04,4,0,12907,12907,0
1,1,acquired,Email|Security|Software,1995-01-01,USA,NY,Long Island,East Northport,NaN,1,2001-03-30,2001-03-30,1,0,11411,11411,1

In [262]:
df_test.head(2), df

(   ID  op_status       domain  founded_on hq_country_code hq_state_code  \
 0   0  operating  Health Care  2009-01-01             USA            FL
 1   1  operating     Software  2010-01-01             USA            VA

           hq_region          hq_city total_funding_usd  funding_rounds  \
 0    Ft. Lauderdale  Fort Lauderdale          73600000               2
 1  Washington, D.C.          Herndon          28612936               3

   first_funding_date last_funding_date num_investors  funding_duration  \
 0         2014-01-22        2015-06-24             5               518
 1         2014-04-02        2015-11-18             7               595

    first_funding_utc  last_funding_utc
 0              16092             16610
 1              16162             16757  ,
           ID  op_status                                             domain  \
 0          0     closed                                     Nanotechnology
 1          1   acquired                            Email|Security|Software
 2          2  operating           Beauty|Cosmetics|E-Commerce|Social Media
 3          3     closed                                        Curated Web
 4          4  operating  Big Data|Cloud Computing|Databases|Enterprise ...
 5          5        ipo  Consumer Goods|Crowdsourcing|Delivery|E-Commer...
 6          6  operating  Bridging Online and Offline|Doctors|Telecommun...
 7          7     closed  iPhone|Location Based Services|Messaging|Mobil...
 8          8  operating                                             Mobile
 9          9  operating                                         Technology
 10        10  operating                      E-Commerce|Logistics|Shipping
 11        11  operating                         Cable|Internet|Web Hosting
 12        12   acquired             Marketing Automation|Real Time|Trading
 13        13  operating            3D Technology|Health Care|Manufacturing
 14        14   acquired                                              Games
 15        15  operating                 Application Platforms|Mobile|Music
 16        16     closed  Advertising|Gamification|Mobile|Photography|Sa...
 17        17  operating              Content|Curated Web|Ediscovery|Search
 18        18     closed                       Electronics|Software|Testing
 19        19  operating                       Curated Web|Databases|Mobile
 20        20  operating                             Mobile|Synchronization
 21        21   acquired                                    Internet|Mobile
 22        22  operating                                              Games
 23        23  operating              Broadcasting|Entertainment|Television
 24        24  operating  Curated Web|Home & Garden|Hotels|Property Mana...
 25        25  operating  Education|Facebook Applications|File Sharing|H...
 26        26  operating              Curated Web|Photography|Photo Sharing
 27        27  operating  Developer APIs|Enterprise Software|Finance Tec...
 28        28   acquired                                        Web Hosting
 29        29        ipo                                      Biotechnology
 ...      ...        ...                                                ...
 40183  40183  operating                                           Software
 40184  40184  operating                                           Security
 40185  40185  operating                                              Games
 40186  40186        ipo                                        Health Care
 40187  40187   acquired                                        Curated Web
 40188  40188  operating   Hardware|Innovation Management|Services|Startups
 40189  40189  operating                                           Software
 40190  40190  operating  Advertising|Mobile|Music|SaaS|Small and Medium...
 40191  40191  operating    Intellectual Property|Semiconductors|Technology
 40192  40192   acquired                                   Clean Technology
 40193  40193  operating  E-Commerce|Navigation|Personalization|Search|S...
 40194  40194  operating  Online Reservations|Public Transportation|Trav...
 40195  40195  operating                                     Transportation
 40196  40196  operating                          Sensors|Software|Wireless
 40197  40197  operating                                             Mobile
 40198  40198  operating                                         E-Commerce
 40199  40199  operating                                         E-Commerce
 40200  40200  operating   Collaboration|Developer Tools|SaaS|Visualization
 40201  40201     closed                                      Biotechnology
 40202  40202  operating                                        Hospitality
 40203  40203  operating                                              Games
 40204  40204  operating           Developer Tools|Education|K-12 Education
 40205  40205  operating                                        Curated Web
 40206  40206   acquired                                           Software
 40207  40207   acquired                                Hardware + Software
 40208  40208  operating                Fashion|Personal Health|Shoes|Women
 40209  40209  operating                                           Software
 40210  40210     closed          Hardware + Software|Networking|Technology
 40211  40211  operating           Android|iOS|Mobile|Peer-to-Peer|Software
 40212  40212  operating  E-Commerce|Group Buying|Network Security|Socia...

        founded_on hq_country_code hq_state_code                  hq_region  \
 0             NaN             GBR            M4                     London
 1      1995-01-01             USA            NY                Long Island
 2      2009-06-07             USA            PA                 Pittsburgh
 3             NaN             USA            CA                SF Bay Area
 4      2014-06-01             USA            CA                SF Bay Area
 5      1994-07-05             USA            WA                    Seattle
 6             NaN             GBR            L3                  Rotherham
 7      2009-07-01             USA            CA                SF Bay Area
 8             NaN             USA            IN                        NaN
 9             NaN             USA            CA                SF Bay Area
 10            NaN             JPN            40                      Tokyo
 11     2002-01-01             USA            WA                    Seattle
 12     1999-01-01             USA            CA                SF Bay Area
 13     2014-01-01             ISR             5                   Tel Aviv
 14     2000-01-01             USA            WA                    Seattle
 15            NaN             NaN           NaN                        NaN
 16     2012-04-01             USA            FL                      Tampa
 17     2010-06-15             RUS            48                     Moscow
 18            NaN             NaN           NaN                        NaN
 19     2006-11-01             USA            CA                SF Bay Area
 20     2009-03-31             IND            19                  Bangalore
 21     2003-10-01             USA            WA                    Seattle
 22            NaN             CHN            22                    Beijing
 23            NaN             FRA            A8                      Paris
 24     2010-03-17             NOR            13                       Oslo
 25     2010-03-01             CZE           NaN                        NaN
 26     2010-01-06             GBR            I2                 Manchester
 27     2007-01-01             IRL             4                       Cork
 28     2000-01-01             USA            CA                SF Bay Area
 29     2010-01-01             USA            MA                     Boston
 ...           ...             ...           ...                        ...
 40183         NaN             USA            WA                    Seattle
 40184  1999-01-01             USA            NH  Manchester, New Hampshire
 40185         NaN             NaN           NaN                        NaN
 40186         NaN             USA            CT                   Hartford
 40187  2002-01-01             USA            IL                    Chicago
 40188  2013-01-01             USA            NY              New York City
 40189  2002-01-01             USA            IL                    Chicago
 40190  2010-01-01             USA            CA                SF Bay Area
 40191  1996-01-01             NaN           NaN                        NaN
 40192         NaN             DEU             4                    Hamburg
 40193  2004-01-01             FRA            B4                      Paris
 40194  2013-01-01             VNM           NaN                Ho Chi Minh
 40195         NaN             NaN           NaN                        NaN
 40196  2007-01-01             PRT            14                PRT - Other
 40197         NaN             NaN           NaN                        NaN
 40198         NaN             ESP            56                  Barcelona
 40199  2008-01-01             USA            CA                Los Angeles
 40200  2013-11-14             USA            DE       Wilmington, Delaware
 40201         NaN             USA            MA                     Boston
 40202         NaN             GBR            I2                 Manchester
 40203         NaN             SGP           NaN                  Singapore
 40204  2013-05-13             USA            NC                    Raleigh
 40205  2009-01-01             FRA            A8                      Paris
 40206  2001-01-01             MAF           NaN                MAF - Other
 40207  1999-01-01             USA            CA                SF Bay Area
 40208  2014-02-07             EST            18                EST - Other
 40209         NaN             KEN             1                KEN - Other
 40210  2003-01-01             USA            TX                     Austin
 40211  2012-01-01             CHE            25                     Zurich
 40212  2011-01-15             USA            CA                SF Bay Area

                  hq_city total_funding_usd funding_rounds first_funding_date  \
 0            Southampton           6820000              1         2005-05-04
 1         East Northport               NaN              1         2001-03-30
 2             Pittsburgh            165778              5         2012-10-25
 3              Sunnyvale           5000000              1         2005-01-01
 4               San Jose          15250000              2         2014-07-01
 5                Seattle           8000000              1         1995-07-01
 6              Rotherham            132222              2         2014-04-23
 7               San Jose             50000              1         2010-04-07
 8                    NaN          13500000              1         2005-12-04
 9               San Jose            400000              1         2015-09-22
 10                 Tokyo            500000              1         2015-03-04
 11              Kirkland        1180000000              2         2012-11-14
 12            San Carlos          10000000              1         2001-11-19
 13              Tel Aviv             30000              1         2014-08-28
 14               Seattle          29866459              2         2009-05-25
 15                   NaN             48748              2         2013-07-01
 16                 Tampa           1050000              3         2012-09-01
 17                Moscow           5025000              3         2011-09-15
 18                   NaN           1938000              5         2000-09-22
 19             Sunnyvale           2060000              2         2006-06-01
 20             Bangalore           1200000              2         2009-03-31
 21              Kirkland        5820000000              6         2001-12-11
 22               Beijing           2500000              1         2013-07-01
 23                 Paris          11200000              1         2015-06-18
 24                 Mysen           1600000              3         2010-03-01
 25                   NaN               NaN              1         2011-05-31
 26            Manchester             10000              1         2009-04-22
 27                  Cork            661500              1         2012-02-22
 28              Campbell          46000000              3         2001-09-24
 29             Cambridge         113000000              4         2012-11-27
 ...                  ...               ...            ...                ...
 40183           Bellevue            500000              1         2014-11-12
 40184            Concord           1.4e+07              4         2006-08-21
 40185                NaN            494833              1         2014-07-08
 40186           Branford        1.6925e+07              2         2010-06-30
 40187            Chicago           3.1e+06              1         2002-12-27
 40188           New York             2e+06              2         2013-01-01
 40189            Chicago       3.11317e+06              2         2011-10-03
 40190            Oakland           2.4e+06              3         2011-05-01
 40191                NaN             8e+06              1         2002-11-19
 40192            Hamburg               NaN              2         2008-09-08
 40193              Lille       1.32265e+07              2         2010-04-26
 40194   Ho Chi Minh City               NaN              1         2015-06-26
 40195                NaN       5.93414e+06              4         2012-01-01
 40196  Arruda Dos Vinhos       1.03486e+06              2         2011-06-03
 40197                NaN            139822              3         2013-05-01
 40198          Barcelona            770274              1         2014-09-22
 40199       Laguna Hills           4.5e+06              3         2008-01-01
 40200         Wilmington            270000              4         2014-09-05
 40201          Cambridge         1.145e+08              4         2001-10-24
 40202         Manchester       1.12207e+07              2         2012-04-03
 40203          Singapore             1e+06              1         2013-09-12
 40204             Durham            425000              2         2013-08-28
 40205              Paris             7e+06              2         2012-01-01
 40206            Marigot       2.92432e+07              2         2005-01-17
 40207          Sunnyvale           3.4e+07              3         2005-08-30
 40208              Tartu             54948              4         2013-10-16
 40209           Kalimoni             1e+06              1         2010-09-15
 40210             Austin          6.46e+07              5         2005-01-11
 40211             Zürich           4.5e+06              2         2012-02-08
 40212      San Francisco            765000              3         2011-01-15

       last_funding_date num_investors  funding_duration first_funding_utc  \
 0            2005-05-04             4                 0             12907
 1            2001-03-30             1                 0             11411
 2            2014-05-27             4               579             15638
 3            2005-01-01             1                 0             12784
 4            2015-09-15             4               441             16252
 5            1995-07-01             1                 0              9312
 6            2014-08-01             2               100             16183
 7            2010-04-07             1                 0             14706
 8            2005-12-04             3                 0             13121
 9            2015-09-22             1                 0             16700
 10           2015-03-04             2                 0             16498
 11           2015-05-21             5               918             15658
 12           2001-11-19             4                 0             11645
 13           2014-08-28             1                 0             16310
 14           2009-10-06             3               134             14389
 15           2014-01-01             2               184             15887
 16           2013-09-09             6               373             15584
 17           2014-03-09             2               906             15232
 18           2003-11-17             5              1151             11222
 19           2007-02-01             1               245             13300
 20           2012-04-26             2              1122             14334
 21           2013-02-27            21              4096             11667
 22           2013-07-01             1                 0             15887
 23           2015-06-18             1                 0             16604
 24           2011-11-01             3               610             14669
 25           2011-05-31             1                 0             15125
 26           2009-04-22             1                 0             14356
 27           2012-02-22             2                 0             15392
 28           2006-04-25            11              1674             11589
 29           2015-01-06             8               770             15671
 ...                 ...           ...               ...               ...
 40183        2014-11-12             5                 0             16386
 40184        2012-05-14             5              2093             13381
 40185        2014-07-08             1                 0             16259
 40186        2011-06-09             1               344             14790
 40187        2002-12-27             2                 0             12048
 40188        2015-03-19             2               807             15706
 40189        2014-06-05             4               976             15250
 40190        2014-08-27            15              1214             15095
 40191        2002-11-19             1                 0             12010
 40192        2015-03-17             2              2381             14130
 40193        2013-02-21             6              1032             14725
 40194        2015-06-26             2                 0             16612
 40195        2014-03-01             2               790             15340
 40196        2013-10-01             2               851             15128
 40197        2014-06-01             2               396             15826
 40198        2014-09-22             1                 0             16335
 40199        2014-10-02             7              2466             13879
 40200        2015-03-31             2               207             16318
 40201        2010-12-01            23              3325             11619
 40202        2014-05-30             2               787             15433
 40203        2013-09-12             1                 0             15960
 40204        2013-08-30             1                 2             15945
 40205        2014-01-12             3               742             15340
 40206        2007-09-25            11               981             12800
 40207        2009-10-21            15              1513             13025
 40208        2015-02-13             1               485             15994
 40209        2010-09-15             1                 0             14867
 40210        2012-05-17             8              2683             12794
 40211        2014-02-12             5               735             15378
 40212        2011-12-31             4               350             14989

       last_funding_utc  successful_investment
 0                12907                      0
 1                11411                      1
 2                16217                      0
 3                12784                      0
 4                16693                      0

In [263]:
#df.interpolate()

In [264]:
#df.info()

In [265]:
df1 = df.dropna()
df1_test = df_test.dropna()
df1.shape, df1_test.shape

((22991, 17), (2523, 16))

In [266]:
df1.head(2)

,ID,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,first_funding_date,last_funding_date,num_investors,funding_duration,first_funding_utc,last_funding_utc,successful_investment
2,2,operating,Beauty|Cosmetics|E-Commerce|Social Media,2009-06-07,USA,PA,Pittsburgh,Pittsburgh,165778,5,2012-10-25,2014-05-27,4,579,15638,16217,0
4,4,operating,Big Data|Cloud Computing|Databases|Enterprise ...,2014-06-01,USA,CA,SF Bay Area,San Jose,15250000,2,2014-07-01,2015-09-15,4,441,16252,16693,0

In [267]:
df1['hq_state_code'].unique().shape, df1['hq_region'].unique().shape, df1['hq_city'].unique().shape, df1['hq_country_code'].unique().shape

((260,), (801,), (2388,), (97,))

In [268]:
df1_test['hq_state_code'].unique().shape, df1_test['hq_region'].unique().shape, df1_test['hq_city'].unique().shape, df1_test['hq_country_code'].unique().shape

((154,), (350,), (680,), (63,))

In [269]:
#here note that the 1 op_status is skipped due to NaN removal
print(df1['op_status'].unique().shape, df['op_status'].unique().shape)
df1_test['op_status'].unique().shape, df_test['op_status'].unique().shape
#df['total_funding_usd'] = int(df['total_funding_usd'])
#df2 = df.total_funding_usd.fillna(df.total_funding_usd.mean())

(6,) (7,)

((5,), (5,))

In [270]:
df1.head()

,ID,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,first_funding_date,last_funding_date,num_investors,funding_duration,first_funding_utc,last_funding_utc,successful_investment
2,2,operating,Beauty|Cosmetics|E-Commerce|Social Media,2009-06-07,USA,PA,Pittsburgh,Pittsburgh,165778,5,2012-10-25,2014-05-27,4,579,15638,16217,0
4,4,operating,Big Data|Cloud Computing|Databases|Enterprise ...,2014-06-01,USA,CA,SF Bay Area,San Jose,15250000,2,2014-07-01,2015-09-15,4,441,16252,16693,0
5,5,ipo,Consumer Goods|Crowdsourcing|Delivery|E-Commer...,1994-07-05,USA,WA,Seattle,Seattle,8000000,1,1995-07-01,1995-07-01,1,0,9312,9312,1
7,7,closed,iPhone|Location Based Services|Messaging|Mobil...,2009-07-01,USA,CA,SF Bay Area,San Jose,50000,1,2010-04-07,2010-04-07,1,0,14706,14706,0
11,11,operating,Cable|Internet|Web Hosting,2002-01-01,USA,WA,Seattle,Kirkland,1180000000,2,2012-11-14,2015-05-21,5,918,15658,16576,0

In [271]:
df1.drop(df.columns[[10,11]], axis=1, inplace=True)
df1_test.drop(df1_test.columns[[10,11]], axis=1, inplace=True)

/home/sammynerd/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3930: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [272]:
df1['founded_on'].unique().shape,df1['domain'].unique().shape

((2476,), (11774,))

In [273]:
df1.shape, df1_test.shape

((22991, 15), (2523, 14))

In [274]:
df1_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2523 entries, 0 to 4468
Data columns (total 14 columns):
ID                   2523 non-null int64
op_status            2523 non-null object
domain               2523 non-null object
founded_on           2523 non-null object
hq_country_code      2523 non-null object
hq_state_code        2523 non-null object
hq_region            2523 non-null object
hq_city              2523 non-null object
total_funding_usd    2523 non-null object
funding_rounds       2523 non-null int64
num_investors        2523 non-null object
funding_duration     2523 non-null int64
first_funding_utc    2523 non-null int64
last_funding_utc     2523 non-null int64
dtypes: int64(5), object(9)
memory usage: 295.7+ KB

In [278]:
df1.drop(df1.index[[4392,9826]], inplace=True)
#df1.iloc[9826:]

In [279]:
df1_test.drop(df1_test.index[[1353]], inplace=True)

In [280]:
df1.total_funding_usd = pd.to_numeric(df1.total_funding_usd)
df1.funding_rounds = pd.to_numeric(df1.funding_rounds)
df1.num_investors = pd.to_numeric(df1.num_investors)
df1.first_funding_utc = pd.to_numeric(df1.first_funding_utc)
df1.last_funding_utc = pd.to_numeric(df1.last_funding_utc)

/home/sammynerd/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5086: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [281]:
df1_test.total_funding_usd = pd.to_numeric(df1_test.total_funding_usd)
df1_test.funding_rounds = pd.to_numeric(df1_test.funding_rounds)
df1_test.num_investors = pd.to_numeric(df1_test.num_investors)
df1_test.first_funding_utc = pd.to_numeric(df1_test.first_funding_utc)
df1_test.last_funding_utc = pd.to_numeric(df1_test.last_funding_utc)

In [282]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [283]:
df1.head()

,ID,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,num_investors,funding_duration,first_funding_utc,last_funding_utc,successful_investment
2,2,operating,Beauty|Cosmetics|E-Commerce|Social Media,2009-06-07,USA,PA,Pittsburgh,Pittsburgh,1.657780e+05,5,4,579,15638,16217,0
4,4,operating,Big Data|Cloud Computing|Databases|Enterprise ...,2014-06-01,USA,CA,SF Bay Area,San Jose,1.525000e+07,2,4,441,16252,16693,0
5,5,ipo,Consumer Goods|Crowdsourcing|Delivery|E-Commer...,1994-07-05,USA,WA,Seattle,Seattle,8.000000e+06,1,1,0,9312,9312,1
7,7,closed,iPhone|Location Based Services|Messaging|Mobil...,2009-07-01,USA,CA,SF Bay Area,San Jose,5.000000e+04,1,1,0,14706,14706,0
11,11,operating,Cable|Internet|Web Hosting,2002-01-01,USA,WA,Seattle,Kirkland,1.180000e+09,2,5,918,15658,16576,0

In [284]:
df1_test.head()

,ID,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,num_investors,funding_duration,first_funding_utc,last_funding_utc
0,0,operating,Health Care,2009-01-01,USA,FL,Ft. Lauderdale,Fort Lauderdale,73600000.0,2,5,518,16092,16610
1,1,operating,Software,2010-01-01,USA,VA,"Washington, D.C.",Herndon,28612936.0,3,7,595,16162,16757
5,5,operating,Android|Application Platforms|Apps|App Stores|...,2012-10-12,CAN,BC,Vancouver,Vancouver,10300000.0,2,7,524,15994,16518
12,12,operating,Analytics|Big Data Analytics,2012-01-01,USA,CA,SF Bay Area,Palo Alto,7000000.0,2,3,343,16287,16630
13,13,operating,Advertising|Technology,2010-06-01,USA,CA,San Diego,San Diego,3000000.0,1,1,0,16469,16469

In [285]:
df1.op_status = le.fit_transform(df1.op_status)
df1.domain = le.fit_transform(df1.domain)
df1.founded_on = le.fit_transform(df1.founded_on)
df1.hq_country_code = le.fit_transform(df1.hq_country_code)
df1.hq_state_code = le.fit_transform(df1.hq_state_code)
df1.hq_region = le.fit_transform(df1.hq_region)
df1.hq_city = le.fit_transform(df1.hq_city)

In [286]:
df1_test.op_status = le.fit_transform(df1_test.op_status)
df1_test.domain = le.fit_transform(df1_test.domain)
df1_test.founded_on = le.fit_transform(df1_test.founded_on)
df1_test.hq_country_code = le.fit_transform(df1_test.hq_country_code)
df1_test.hq_state_code = le.fit_transform(df1_test.hq_state_code)
df1_test.hq_region = le.fit_transform(df1_test.hq_region)
df1_test.hq_city = le.fit_transform(df1_test.hq_city)

In [287]:
arr = df1.values
arr.shape

(22987, 15)

In [288]:
arr2 = df1_test.values
arr2.shape

(2521, 14)

In [289]:
print(df1.shape, df1_test.shape)

(22987, 15) (2521, 14)

In [290]:
X = arr[:, :14]
Y = arr[:,14]

In [291]:
XTest = arr2
X.shape, XTest.shape, Y.shape

((22987, 14), (2521, 14), (22987,))

In [292]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[[1,2,3,4,5,6,7]])

In [297]:
X = ohe.fit_transform(X)
XTest = ohe.transform(XTest)

/home/sammynerd/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/sammynerd/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [298]:
X.shape, XTest.shape

((22987, 17794), (2521, 17794))

In [299]:
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y,random_state=0)

In [300]:
X_train.shape, X_test.shape

((17240, 17794), (5747, 17794))

In [301]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train, Y_train)
clf.score(X_train, Y_train)

/home/sammynerd/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.843677494199536

In [302]:
Y_pred = clf.predict(X_test)
clf.score(X_test, Y_test)

0.8447885853488777

In [317]:
YTest_pred = clf.predict(XTest)
XTest.shape

(2521, 17794)

In [319]:
print(YTest_pred.shape)
print(YTest_pred.sum())

(2521,)
7.0