In [183]:
import pandas as pd
import numpy as np
import math

In [184]:
df = pd.read_csv('train.csv')
df.shape

/home/sammynerd/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10,11,14,16,17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(40213, 27)

In [185]:
df.head(2)

,ID,comp_name,website,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,...,last_funding_utc,successful_investment,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,0,Nanotecture,http://www.nanotecture.co.uk,closed,Nanotechnology,NaN,GBR,M4,London,Southampton,...,12907,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Sybari,http://www.sybari.com,acquired,Email|Security|Software,1995-01-01,USA,NY,Long Island,East Northport,...,11411,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
#df.info()

In [186]:
del df['comp_name'],df['website']

In [187]:
#for checking whether these unnamed columns majorly consists of NaN or not
cnt=int(0)
s=int(0)
for i in df['Unnamed: 19']:
    if(isinstance(i, str)):
        s= s+1
    elif(math.isnan(i)):
        cnt = cnt+1
cnt, s

(40210, 0)

In [188]:
df.drop(df.columns[[17,18,19,20,21,22,23,24]], axis=1, inplace=True)
#del df['Unnamed: 19'], df['Unnamed: 20'], df['Unnamed: 21'], df['Unnamed: 22'], df['Unnamed: 23'], df['Unnamed: 24'], df['Unnamed: 25'], df['Unnamed: 26']

In [189]:
df.head()

,ID,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,first_funding_date,last_funding_date,num_investors,funding_duration,first_funding_utc,last_funding_utc,successful_investment
0,0,closed,Nanotechnology,NaN,GBR,M4,London,Southampton,6820000,1,2005-05-04,2005-05-04,4,0,12907,12907,0
1,1,acquired,Email|Security|Software,1995-01-01,USA,NY,Long Island,East Northport,NaN,1,2001-03-30,2001-03-30,1,0,11411,11411,1
2,2,operating,Beauty|Cosmetics|E-Commerce|Social Media,2009-06-07,USA,PA,Pittsburgh,Pittsburgh,165778,5,2012-10-25,2014-05-27,4,579,15638,16217,0
3,3,closed,Curated Web,NaN,USA,CA,SF Bay Area,Sunnyvale,5000000,1,2005-01-01,2005-01-01,1,0,12784,12784,0
4,4,operating,Big Data|Cloud Computing|Databases|Enterprise ...,2014-06-01,USA,CA,SF Bay Area,San Jose,15250000,2,2014-07-01,2015-09-15,4,441,16252,16693,0

In [190]:
df.shape

(40213, 17)

In [191]:
#df.interpolate()

In [192]:
#df.info()

In [193]:
df1 = df.dropna()
df1.shape

(22991, 17)

In [194]:
df1.head(2)

,ID,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,first_funding_date,last_funding_date,num_investors,funding_duration,first_funding_utc,last_funding_utc,successful_investment
2,2,operating,Beauty|Cosmetics|E-Commerce|Social Media,2009-06-07,USA,PA,Pittsburgh,Pittsburgh,165778,5,2012-10-25,2014-05-27,4,579,15638,16217,0
4,4,operating,Big Data|Cloud Computing|Databases|Enterprise ...,2014-06-01,USA,CA,SF Bay Area,San Jose,15250000,2,2014-07-01,2015-09-15,4,441,16252,16693,0

In [195]:
df1['hq_state_code'].unique().shape, df1['hq_region'].unique().shape, df1['hq_city'].unique().shape, df1['hq_country_code'].unique().shape

((260,), (801,), (2388,), (97,))

In [196]:
#here note that the op_status is skipped due to NaN removal
df1['op_status'].unique().shape, df['op_status'].unique().shape
#df['total_funding_usd'] = int(df['total_funding_usd'])
#df2 = df.total_funding_usd.fillna(df.total_funding_usd.mean())

((6,), (7,))

In [197]:
df1.shape

(22991, 17)

In [198]:
df1.drop(df.columns[[10,11]], axis=1, inplace=True)

In [218]:
df1.head(2)

,ID,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,num_investors,funding_duration,first_funding_utc,last_funding_utc,successful_investment
2,2,5,3372,982,96,209,570,1622,165778,5,4,579,15638,16217,0
4,4,5,3574,2272,96,104,610,1825,15250000,2,4,441,16252,16693,0

In [225]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22991 entries, 2 to 40212
Data columns (total 15 columns):
ID                       22991 non-null int64
op_status                22991 non-null int64
domain                   22991 non-null int64
founded_on               22991 non-null int64
hq_country_code          22991 non-null int64
hq_state_code            22991 non-null int64
hq_region                22991 non-null int64
hq_city                  22991 non-null int64
total_funding_usd        22991 non-null object
funding_rounds           22991 non-null object
num_investors            22991 non-null object
funding_duration         22991 non-null int64
first_funding_utc        22991 non-null object
last_funding_utc         22991 non-null object
successful_investment    22991 non-null int64
dtypes: int64(10), object(5)
memory usage: 2.8+ MB

In [247]:
df1.drop(df1.index[[4392,9825]], inplace=True)
#df1.iloc[9820:]

In [248]:
df1.total_funding_usd = pd.to_numeric(df1.total_funding_usd)
df1.funding_rounds = pd.to_numeric(df1.funding_rounds)
df1.num_investors = pd.to_numeric(df1.num_investors)
df1.first_funding_utc = pd.to_numeric(df1.first_funding_utc)
df1.last_funding_utc = pd.to_numeric(df1.last_funding_utc)

/home/sammynerd/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5086: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [249]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [250]:
df1.op_status = le.fit_transform(df1.op_status)
df1.domain = le.fit_transform(df1.domain)
df1.founded_on = le.fit_transform(df1.founded_on)
df1.hq_country_code = le.fit_transform(df1.hq_country_code)
df1.hq_state_code = le.fit_transform(df1.hq_state_code)
df1.hq_region = le.fit_transform(df1.hq_region)
df1.hq_city = le.fit_transform(df1.hq_city)

In [251]:
arr = df1.values
arr.shape

(22984, 15)

In [252]:
X = arr[:, :14]
Y = arr[:,14]

In [253]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[[1,2,3,4,5,6,7]])

In [255]:
X = ohe.fit_transform(X).toarray()
X

/home/sammynerd/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/sammynerd/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

array([[0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 5.7900e+02, 1.5638e+04,
        1.6217e+04],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 4.4100e+02, 1.6252e+04,
        1.6693e+04],
       [0.0000e+00, 0.0000e+00, 1.0000e+00, ..., 0.0000e+00, 9.3120e+03,
        9.3120e+03],
       ...,
       [0.0000e+00, 1.0000e+00, 0.0000e+00, ..., 2.6830e+03, 1.2794e+04,
        1.5477e+04],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 7.3500e+02, 1.5378e+04,
        1.6113e+04],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 3.5000e+02, 1.4989e+04,
        1.5339e+04]])

In [256]:
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y,random_state=0)

In [258]:
X_train.shape, X_test.shape

((17238, 17793), (5746, 17793))

In [260]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train, Y_train)
clf.score(X_train, Y_train)

/home/sammynerd/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8436013458637893

In [262]:
Y_pred = clf.predict(X_test)
clf.score(X_test, Y_test)

0.8423250957187609